<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Document</title>
</head>

<body>
    <nav>
        <h1>Snobin Abraham</h1>
        <ul class="navigation">
            <li><a (click)="scrollToSection('about')" class="nav-link">About</a></li>
            <li><a (click)="scrollToSection('skills')" class="nav-link">Skills</a></li>
            <!-- ... other links ... -->
            <li><a (click)="scrollToSection('projects')" class="nav-link">Projects</a></li>
            <li><a href="#contact" class="nav-link">Contact</a></li>
        </ul>
        <button class="burger-menu" id="burger-menu">
            <div class="bar"></div>
        </button>
    </nav>

    <section class="hero" id="about">
        <img src="assets/images/portfolio.jpg" alt="jane-doe" loading="lazy" class="hero-img fit-screen"/>
        <div class="bio animate__animated animate__shakeX">
            <h2 class="bio-title">About Me</h2>
            <p class="bio-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sed dolorem fugit sapiente porro veniam pariatur dolore nostrum delectus inventore tempore minus nemo, iste ullam illo laboriosam maiores repudiandae quos!
            </p>
        </div>
    </section>

    <section class="more-about">
        <h2>More About Me</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nesciunt excepturi quos obcaecati incidunt voluptatem ipsam sunt ipsum, autem deleniti cupiditate molestias quis unde quae totam porro dicta iure animi inventore, veniam hic! Omnis nulla, delectus a voluptatibus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur nostrum dolor minus, libero delectus praesentium perferendis.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, consequuntur labore? Ea totam voluptas amet!
        </p>
    </section>

    <section class="skills" id="skills">
        <h2 class="skill-header">My Top Skills</h2>
        <div class="skills-wrapper">
          <div class="first-set animate__animated animate__pulse">
            <i class="fab fa-html5 icon icon-card"></i>
            <i class="fab fa-js icon icon-card"></i>
            <i class="fab fa-angular icon icon-card"></i>
          </div>
          <div class="second-set animate__animated animate__pulse">
            <i class="fab fa-bootstrap icon icon-card"></i>
            <i class="fab fa-java icon icon-card"></i>
            <i class="fab fa-spring icon icon-card"></i>
          </div>
          <div class="third-set animate__animated animate__pulse">
            <i class="fab fa-python icon icon-card"></i>
            <i class="fab fa-cplusplus icon icon-card"></i>
            <i class="fas fa-database icon icon-card"></i>
          </div>
        </div>
      </section>
      
      
      

    <section class="projects" id="projects">
        <h2 class="projects-title">Some of my Recent Projects</h2>
        <div class="projects-container">
            <div class="project-container project-card">
                <img src="" alt="expense-tracker" loading="" class="project-pic"/>
                <h3 class="project-title">Expense Tracker</h3>
                <p class="project-details">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ratione vel inventore labore commodi modi quos culpa aut saepe! Alias!
                </p>
                <a href="#" target="_blank" class="project-link">Check it Out</a>
            </div>
            <div class="project-container project-card">
                <img src="" alt="netflix-clone" loading="" class="project-pic"/>
                <h3 class="project-title">Netflix Clone</h3>
                <p class="project-details">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ratione vel inventore labore commodi modi quos culpa aut saepe! Alias!
                </p>
                <a href="#" target="_blank" class="project-link">Check it Out</a>
            </div>
            <div class="project-container project-card">
                <img src="" alt="" loading="lazy" class="project-pic"/>
                <h3 class="project-title"></h3>
                <p class="project-details">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ratione vel inventore labore commodi modi quos culpa aut saepe! Alias!
                </p>
                <a href="#" target="_blank" class=" project-link">Check it Out</a>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <h2>Get In Touch With Me</h2>
        <div class="contact-form-container">
            <div class="contact-form">
                <form action="" method="POST" class="form-group">
                    <div class="form-control">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="sender-name" placeholder="Enter Your Name" class="input-field" required/>
                    </div>
                    <div class="form-control">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="sender-email" placeholder="Enter Your Email" class="input-field" required/>
                    </div>
                    <div class="form-control">
                        <label for="message">Message</label>
                        <textarea id="message" cols="60" rows="10" placeholder="Enter Your Message" name="message" class="input-field" required></textarea>
                    </div>
                    <input type="submit" value="Submit" id="submit-btn" class="submit-btn"/>
                </form>
            </div>
        </div>
    </section>

    <div class="socials">
        <a href="#" target="_blank" ><i class="fa fa-linkedin"></i></a>
        <a href="#" target="_blank" ><i class="fa fa-github"></i></a>
      </div>
      
    <footer>
        <p class="copy">&copy; Copyright 2023 Snobin Abraham</p>
    </footer>
    <i class="scroll-up" id="scroll-up"><i class="fas fa-arrow-up up-arrow"></i></i>

</body>
</html>